@inject Talabi.Portal.Services.ILocalizationService LocalizationService
@{
    ViewData["Title"] = LocalizationService.GetString("PrivacyPolicy");
}
<h1>@ViewData["Title"]</h1>

<p>@LocalizationService.GetString("PrivacyPolicyContent")</p>
