{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=db29009.public.databaseasp.net; Database=db29009; User Id=db29009; Password=Ap6-=2PtcE!7; Encrypt=True; TrustServerCertificate=True; MultipleActiveResultSets=True;"
  },
  "JwtSettings": {
    "Secret": "your-super-secret-jwt-key-here-minimum-32-characters",
    "Issuer": "TalabiApi",
    "Audience": "TalabiApp",
    "ExpirationInMinutes": 1440
  },
  "GoogleMaps": {
    "ApiKey": "your-google-maps-api-key-here"
  },
  "Email": {
    "SmtpServer": "smtp.gmail.com",
    "SmtpPort": 587,
    "UseSsl": true,
    "UseTls": true,
    "SenderEmail": "noreply@talabi.com",
    "SenderPassword": "your-email-password-or-app-password",
    "SenderName": "Talabi",
    "Timeout": 30000
  }
}

