<?xml version="1.0" encoding="utf-8"?>
<!--
FTP Publish Profile for macOS/Linux
This file is used by the publish/package process of your Web project.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://talabi.runasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5a0d4715-88c2-4060-b475-eb2ef87ec139</ProjectGuid>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>ftp://site44260.siteasp.net/site44260</PublishUrl>
    <UserName>site44260</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>
